.button{
    background-color: var(--purple);
    border: none;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

  }

  .button:hover{
    background-color: #595bd0;

  }

  .fillSpace{
    width: 100%;
  }