.aside {
  width: 300px;
  position: fixed;
  top: 70px;
  left: 10px;
  /* border-right: 1px solid rgb(78, 78, 78); */
  /* background-color: rgb(0, 0, 0); */
  /* background-color: #0a0a0a; */
  height: calc(100vh - 90px);
  overflow-y: auto; /* Keep the scrollbar space */
  /* transition: all 0.3s ease-in-out; */
  padding-right: 10px; /* Reserves space for scrollbar */

  /* Make scrollbar space reserved but invisible */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Hide scrollbar by default */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Content inside sidebar */
.content {
  /* Keep content width constant */
  /* width: calc(100% - 10px);  */
  /* float: left; */
  /* margin-left:5px; */
  width: 95%;
  margin-top: 10px;

}

.buttons{
  margin-bottom: 10px;
}

.button{
  background-color: transparent;
  /* background-color: #494949; */
  border: none;
  color: var(--foreground);
  padding: 0.5rem 1.25rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.selected{
  background-color: #3d3d3d;
}

.button:hover{
  background-color: #3d3d3d;
}

.skeleton_preview{
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, #2e2e2e 25%, #3d3d3d 50%, #505050 75%);
  background-size: 200% 100%;
  margin-bottom: 10px;
  animation: pulse 1.5s ease-in-out infinite;
}

/* Pulse Animation */
@keyframes pulse {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}


/* Webkit-based browsers (Chrome, Safari, Edge) */
.aside::-webkit-scrollbar {
  width: 6px; /* Always reserve space */
  background: transparent; /* Hide scrollbar background */
}

.aside::-webkit-scrollbar-thumb {
  background: transparent; /* Hide scrollbar thumb */
}

/* Show scrollbar only when hovering */
.aside:hover {
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent; /* Firefox */
}

.aside:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); /* Show scrollbar thumb */
  border-radius: 3px;
}

@media (max-width: 1200px) {
  .aside {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    flex-direction: row;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #444;
    background-color: #0a0a0a; 
    z-index: 1000;
  }

  .content {
    width: auto;
    margin: 0 10px;
    display: flex;
    align-items: center;
  }

  .buttons{
    display: flex;
  }
}