.home{
  display: flex;
  width: 100%;
  /* height: 100vh; */
}

.main_container{
  flex: 1;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  margin-left: 320px; /* margin left should be equivalent to the width of the sidebar */
  /* background-color: #0a0a0a; */
  border-top-left-radius: 10px;
  margin-top: 10px;
}

.main{
  width: 950px;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
}

#__banner__{
  height: 200px;
}

.section {
  display: grid;
  grid-template-columns: 1fr 300px ;
  margin-top:20px;
  /* margin-right: 200px; */
}

.article{
}


@media screen and (max-width:1367px) {
  
  .main_container{
  }

  .main{
    width: 95%;
    margin: 0 auto;
  }

}

@media screen and (max-width:1200px) {

  /* at 1200px the sidebar is hidden, so remove the margin left */
  .main_container{
    margin-left: 0px;
  }
}

@media screen and (max-width:768px){

  .section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}