.aside {
  position: relative;
  /* background-color: #525252; */
}

.inner_aside {
  border-left: 1px solid rgb(78, 78, 78);
  position: sticky;
  top: 60px;
  height: calc(100vh - 80px); 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 7px; /* Reserve space for the scrollbar */
  /* border-left: 1px solid rgb(78, 78, 78); */

  /* Make scrollbar space reserved but invisible */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent;
  /* scrollbar-color: rgba(255, 255, 255, 0.5) transparent; */
  
}

.content{
  /* background-color: #0a0a0a; */
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* margin-top: 10px; */
}

.inner_content{
  /* background-color: red; */
  width: 95%;
  margin: 0 auto;
  margin-top: 5px;
}

.content:last-child{
  margin-bottom: 100px;
}

.skeleton{
  width: 80%;
  height: 50px;
  background: linear-gradient(90deg,  #2e2e2e 25%,#3d3d3d 50%,  #505050 75%);
  background-size: 200% 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  animation: pulse 1.5s ease-in-out infinite;
}

/* Pulse Animation */
@keyframes pulse {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}


/* Webkit-based browsers (Chrome, Safari, Edge) */
.inner_aside::-webkit-scrollbar {
  width: 6px; /* Always reserve space */
  background: transparent; /* Hide scrollbar background */
}

.inner_aside::-webkit-scrollbar-thumb {
  background: transparent; /* Hide scrollbar thumb */
}

/* Show scrollbar only when hovering */
.inner_aside:hover {
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent; /* Firefox */
}

.inner_aside:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); /* Show scrollbar thumb */
  border-radius: 3px;
}

@media screen and (max-width:768px){
  .aside{
    display: none;
  }

}

