.articles_list{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.load_more{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}